{% extends 'base.html' %}

{% block content %}
    <h1>Investments</h1>
    <div id="content">

        <!-- Form Section -->
        <div id="add-form-section">
            <div class="element-header">
                <h2>Add Investment</h2>
            </div>
            <form id="add-investment-form" method="post">
                {% csrf_token %}
                <!-- Form fields here -->
                {{ form.as_p }}  <!-- Display the form fields -->
                <button type="submit">Save</button>
            </form>
        </div>

        <!-- List Section -->
        <div id="list-section">
            <div class="element-header">
                <h2>List of Investments</h2>
            </div>
            {% if investments %}
            <table id="investment-table">
                <thead>
                    <tr>
                        <th>Investment Code</th>
                        <th>Institution</th>
                        <th>Current Value</th>
                        <th>Updated At</th>
                        <th>Last Profit (%)</th>
                        <th>Total Profit (%)</th>
                        <th>Action</th>                        
                </thead>
                <tbody>
                    {% for investment in investments %}
                    <tr>
                        <td>{{ investment.investment_code }}</td>
                        <td>{{ investment.institution }}</td>
                        <td>{{ investment.current_value }}</td>
                        <td>{{ investment.updated_at }}</td>
                        <td>{{ investment.last_profit|default:"N/A" }}</td>
                        <td>{{ investment.total_profit|default:"N/A" }}</td>
                        <td>
                            <div id='investment-table-actions'>
                            <a href="{% url 'delete_investment' investment.pk %}">
                                <span class="material-icons">delete</span>
                            </a>
                            <a href="{% url 'update_investment' investment.pk %}">
                                <span class="material-icons">update</span>
                            </a>
                            <a href="{% url 'investment_chart' investment.pk %}" target="_blank">
                                <span class="material-icons">show_chart</span>
                            </a>
                        </td>  <!-- Botão de delete com link para a view de deleção -->
                    </tr>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% else %}
            <p>No investments found.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}